body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#mainDiv {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
header {
  grid-column: 1/9;
  height: 100%;
}
h1 {
  display: inline;
  font-size: 90px;
  padding-top: 100px;
}
#navbar {
  grid-column: 9/-1;
  background-color: skyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
}
#formGrid {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: yellow;
}
#formBox {
  grid-column: 8/-1;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#twitterHome {
  grid-column: 1/8;
  width: 100%;
  margin: 100px;
  border-radius: 25px;
}
#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  border-radius: 25px;
  padding: 50px;
}
#loginForm > input {
  margin: 8px;
}
#myPageTweets {
  margin-top: 25px;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#returnDiv {
  width: 50%;
  background-color: skyblue;
  padding: 30px;
  margin: 10px;
  border-radius: 15px;
}
#returnImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
}
#author {
  font-size: 30px;
  margin-top: 10px;
  padding: 25px;
  display: inline-block;
}
#date {
  float: right;
}
#returnH5 {
  font-size: 20px;
}
#myPageDiv {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#formGridMyPage {
  width: 50%;
  background-color: lightslategrey;
  padding: 30px;
  margin: 10px;
  border-radius: 15px;
}
#postForm {
  grid-column: 1/-1;
}
#postForm > h2 {
  display: inline-block;
  padding: 20px;
}
#title {
  display: inline-block;
  padding: 5px;
}
#description {
  width: 100%;
}
#myPageTweets {
  width: 100%;
}
#profilePic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
}
#postBtn {
  background-color: skyblue;
}
#editButton, #deleteButton {
  background-color: black;
}